body {
  max-width: 600px;
  margin: auto;
}

a{
  text-decoration: none;
  color:darkred;
}

a:hover{
  color:gray;
}

div {
  margin-top: 20px;
}

input {
  display: block;
}

h1 {
  padding-left: .5em;
}

form{
  padding: 1em;
}

.fine-text{
  font-size: small;
  margin-top: 0;
}

.container{
  padding-left: 1.1em;
}

.big-text{
  font-size: large;
  list-style: none;
  float: left;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 16px;
}

li {
    float: left;
    margin-right: 16px;
    padding: 10px 15px;
    height: 20px;
    border-top: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

}
.big-text li .active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
}

#profile {
  padding: 20px;
  margin-top: 50px;
  background-color: #E0E0E0;
  line-height: 150%;
  color: #444;
  font-size: 20px;
}

.logout{

}

.subtitle{
  text-indent: 1em;
}

.title{
  color: red;
}

.button {
  color: red;
}
