<form action="/users" method="post" id='new-form'>
  <label> Email<input type="text" name="email"></label><br/>
  <label> Password<input type="text" name="password"></label><br/>
  <input type="submit" name="Submit">
</form>

