<form action="/users" method="post" id='new-form'>
  <label>Email: <input type="text" name="email"></label>
  <label>Password: <input type="text" name="password"></label> 
  <input type="submit" name="Submit" value="Signup">
</form>

