<div class="container">
  <section id="profile">
     Email: <%= @user.email %> <br/>
     Phone Number: <%= @user.phone %><br/>
    <a href ="/users/<%= @user.id %>/edit"> Update Profile </a>

    <div> SMS frequency: </div>

    <div id="digest"> Todays's digest (plus links): </div>

    <div id="top-article"><a href='#'>Title</a>
      <p class = "subtitle">Abstract</p>
      <p>Published Date</p>
      </div>

    <div><a class="logout" href="/logout"> Log Out</a></div>
  </section>
</div>
