<div class="container">

  <a href ="/users/<%= @user.id %>/edit"> Update Profile </a>

  <div id="profile">
    Username: <%= @user.username %>
    Phone Number: <%= @user.phone %>
  </div>

  <div> SMS frequency: </div>

  <div id="digest"> Todays's digest (plus links) </div>

</div>
