<div class="container">
  <div id="profile">
    Username: <%= @user.email %>
    Phone Number: <%= @user.phone %>
  <a href ="/users/<%= @user.id %>/edit"> Update Profile </a>
  </div>

  <div> SMS frequency: </div>

  <div id="digest"> Todays's digest (plus links) </div>

  <div><a href="/logout"> Log Out</a></div>
</div>
