<h1>Daily News Digest Text Service</h1>

<div class="container">
  <p class='big-text'><a href="/login" class='login button'> Log In </a> |
  <a href="/users/new" class='signup button'> Sign Up </a></p>

</div>
