<h1>Daily News Digest Text Service</h1>

<div class="container">
  <ul class='big-text'>
    <li class="active"><a href="/login" class='login button'> Log In </a></li>
    <li><a href="/users/new" class='signup button'> Sign Up </a></li>
</ul>
<div class="section"><div>
</div>

