<form action= "/sessions" method ="post" id='login-form'>
  <input type="text" placeholder="Email" name="email">
  <input type="text" placeholder="Password" name="password">
  <input type="submit" name="Submit" >
</div>
